img{
    height: 25px;
    margin-right: 10px;
}

.navbar{
    font-weight: 400;
    background-color: white !important;
    box-shadow: 4px 0 4px 0 #00000026;
}

.dropdown-item:active {
    background-color: #ffffff; /* Change to your desired color */
    color: rgb(0, 0, 0);  /* Optional: Change text color on click */
  }