<app-navbar-admin></app-navbar-admin>
<div class="container my-4">
  <div class="row mb-3">
    <div class="col-md-9">
      <input
        type="text"
        class="form-control shadow-sm"
        placeholder="Search users..."
        [(ngModel)]="searchQuery" 
        (input)="filterUsers()"
      />
    </div>
    <div class="col-md-3">
      <button class="btn btn-success shadow-sm" (click)="openCreateUserModal()">
        <i class="bi bi-person-plus-fill"></i> Add New User
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let user of filteredUsers">
      <div class="card shadow-lg h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title d-flex justify-content-between">
            {{ user.name }}
            <span class="badge bg-warning p-2">{{ user.role }}</span>
          </h5>
          <p class="card-text text-muted">
            <i class="bi bi-phone"></i> {{ user.phoneNumber }}<br />
            <i class="bi bi-envelope"></i> {{ user.email }}
          </p>
          <p class="card-text">
            <strong>Car:</strong> {{ user.carModel }} <br>({{ user.carNumber }})
          </p>
          <div class="d-flex mt-auto justify-content-between">
            <button class="btn btn-primary btn-sm" (click)="editUser(user)">
              <i class="bi bi-pencil"></i> Edit
            </button>
            <button class="btn btn-danger btn-sm" (click)="deleteUser(user)">
              <i class="bi bi-trash"></i> Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
