<app-navbar ngSkipHydration></app-navbar>
<!-- Main Container -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card mt-5 shadow-sm">
        
        <!-- Card Header -->
        <div class="card-header text-center text-white">
          <h3>Valet Details</h3>
        </div>

        <!-- Card Body -->
        <div class="card-body">
          <!-- Valet Information Section -->
          <h5 class="text-center mb-4">Valet Information</h5>
          <div class="row">
            <!-- Left Column: Valet Details -->
            <div class="col-md-6">
              <p><strong>Name:</strong> {{ valetDetails?.name || 'Loading...' }}</p>
              <p><strong>Mobile:</strong> {{ valetDetails?.phoneNumber || 'Loading...' }}</p>
              <p><strong>Email:</strong> {{ valetDetails?.email || 'Loading...' }}</p>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
