<app-navbar ngSkipHydration></app-navbar>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card mt-5 shadow-sm">
        
        <div class="card-header bg-dark text-center text-white">
          <h3>Valet Details</h3>
        </div>

        <div class="card-body">
          <h5 class="text-center mb-4">Valet Information</h5>
          <div class="row">
            <div class="col-md-6">
              <p><strong>Name:</strong> {{ valetDetails?.name || 'Fetching data from backend...' }}</p>
              <p><strong>Mobile:</strong> {{ valetDetails?.phoneNumber || 'Fetching data from backend...' }}</p>
              <p><strong>Email:</strong> {{ valetDetails?.email || 'Fetching data from backend...' }}</p>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
