.container {
  max-width: 600px;
}
  
.bg-dark{
  background-color: rgb(0, 44, 63) !important;
}

.btn-block {
  width: 100%;
}

.status-indicator {
  font-weight: bold;
}

.status-green {
  color: #28a745;
}

.status-red {
  color: #dc3545;
}

.contact-btn {
  background-color: #ff5733;
  color: white;
}

.contact-btn:hover {
  background-color: #d53e1e;
  color: white;
}

.valet-img {
  width: 100%;
  max-width: 150px;
  border-radius: 50%;
  object-fit: cover;
}

/* valetinfopage.component.scss */
.btn-custom {
  background-color: #343a40; /* Replace with your theme color */
  border-color: #343a40; /* Replace with your theme color */
  color: white; /* Text color */

  &:hover {
    background-color: #23272b; /* Darker shade for hover effect */
    border-color: #1d2124; /* Darker shade for hover effect */
  }
}