html, body {
    height: 100%;
    margin: 0;
  }
  
  .container {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    height: 100vh; /* Full height */
  }
  
  .bg-dark{
    background-color: rgb(0, 44, 63) !important;
  }

  .btn-warning{
    background-color: #fbb516 !important;
    font-weight: 600;
    color: rgb(0, 44, 63) ;
  }