html, body {
    height: 100%;
    margin: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
  }
  
  .bg-dark{
    background-color: rgb(0, 44, 63) !important;
  }

  .btn-warning{
    background-color:  #fbb516 !important;
    font-weight: 600;
    color: rgb(0, 44, 63) ;
  }
  
  .btn-warning:hover{
    background-color:  #fcda8a !important;
    color: rgb(0, 44, 63) ;
  }