<!-- <marquee behavior="scroll" direction="left">Welcome to CG Infinity Valet Parking Mangement Portal! Please Login to view you car updates</marquee> -->
 <div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-end">
      <h1 class="fw-bold lh-1 mb-3">Login</h1>
      <p class="col-lg-10 fs-4 mx-auto">
        Welcome to the CG Infinity Valet Parking System!<br>
        Log in to view your car's status, location, and parking details.
      </p>
    </div>
    
    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-dark text-light">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@cginfinity.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-success" type="submit">Sign up</button>
        <hr class="my-4">
        <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
      </form>
    </div>
  </div>
</div>
