<app-navbar ngSkipHydration></app-navbar>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card mt-5 shadow-sm">

        <div class="card-header bg-dark text-center text-white">
          <h3>Vehicle Parking Status</h3>
        </div>

        <div class="card-body">
          <h5 class="text-center mb-4">Owner Details</h5>
          <div *ngIf="userDetails">
            <div class="row">
              <!-- First row with 2 columns -->
              <div class="col-12 col-md-6">
                <p><strong>Name:</strong> {{ userDetails.name }}</p>
              </div>
              <div class="col-12 col-md-6">
                <p><strong>CYG ID:</strong> {{ userDetails.cygid }}</p>
              </div>

              <!-- Second row with 2 columns -->
              <div class="col-12 col-md-6">
                <p><strong>Phone:</strong> {{ userDetails.phoneNumber }}</p>
              </div>
              <div class="col-12 col-md-6">
                <p><strong>Email:</strong> {{ userDetails.email }}</p>
              </div>
            </div>

            <hr>

            <h5 class="text-center mb-4">Valet Details</h5> <!-- Valet Section -->
            <div *ngIf="valetDetails" class="row">
              <div class="col-12 col-md-6">
                <p><strong>Valet Name:</strong> {{ valetDetails.name }}</p>
              </div>
              <div class="col-12 col-md-6">
                <p><strong>Phone:</strong> {{ valetDetails.phoneNumber }}</p>
              </div>
              <div class="col-12 col-md-6">
                <p><strong>Email:</strong> {{ valetDetails.email }}</p>
              </div>
            </div>

            <hr>

            <h5 class="text-center mb-4">Vehicle Details</h5>
            <div class="row">
              <div class="col-12 col-md-6">
                <p><strong>Car Model:</strong> {{ carDetails?.carModel }}</p>
              </div>
              <div class="col-12 col-md-6">
                <p><strong>License Plate:</strong> {{ carDetails?.carNumber}}</p>
              </div>

              <div class="col-12">
                <p class="h3 text-center">
                  <strong>Car Status: </strong>
                  
                  <span class="badge text-white"
                    [ngClass]="{
                      'text-success': carDetails?.status === 'parked',
                      'text-danger': carDetails?.status === 'unparked',
                      'text-info': carDetails?.status === 'in-transit'
                    }">
                    {{ carDetails?.status }}
                  </span>
                </p>
              </div>
              
            </div>

            <hr>

            <div class="text-center">
              <button type="button" class="btn btn-warning btn-lg btn-block" (click)="handleClick()">Request Your Car</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showModal" class="modal-overlay">
  <div class="modal-container">
    <h4>Valet Notified</h4>
    <p>The valet has been notified and will bring your car shortly.</p>
    <button type="button" class="btn text-white bg-dark" (click)="closeModal()">Close</button>
  </div>
</div>
